#!/bin/bash

if [ -z "$BOOT_DEVICE" ]; then
    exit 189
fi

if ifclass GENTOO; then
  $ROOTCMD emerge grub
  $ROOTCMD grub-install $BOOT_DEVICE
  $ROOTCMD bash -c "grub-mkconfig -o /boot/grub/grub.cfg"
fi

